<template>
    <div class="slds-grid slds-wrap slds-size_12-of-12 slds-p-vertical_small">
        <template for:each={availableGroups} for:item="contactShare">
            <lightning-pill
                data-id={contactShare.value}
                key={contactShare.value}
                label={contactShare.label} 
                data-name={contactShare.label}
                onremove={handleItemRemove}
                href="javascript:void(0);">
            </lightning-pill>
        </template> 
    </div>
</template>
